.sidebar {
    width: 250px;
    height: 100%;
    background-color: #14213D;
    color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0; /* Align to the left */
    top: 0;
}

.sidebar-header {
    padding: 15px 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #ffb300; /* Changed to make the border visible */
    background-color: #14213D;
    color: #ffb300;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10px; /* Adjust space between header and menu */
}

.menu-item {
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #ffb300;
    color: #14213D;
}

.menu-item a {
    color: inherit;
    text-decoration: none;
}

.menu-item a:hover {
    color: inherit;
}