.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: 1000px;
    background-color: white !important;
    padding: 20px;
}
.main , .pass{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
input {
    margin: 30px;
}
.card {
    display: flex;
    flex-direction: column;
    justify-items: start;
}