.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: 700px;
}
.main , .pass{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}