.navbar {
  width: 100%;
  height: 60px;
  background-color: #14213D;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 20px solid #14213D;
  z-index: 10;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-logo {
  font-size: 20px;
  font-weight: bold;
  color: #ffc107; /* Yellow color for logo */
}

.navbar-right {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.navbar-search {
  padding: 5px 10px;
  border-radius: 0; /* Make the search input rectangular */
  border: 1px solid #ccc;
  margin-right:auto;
  margin-left: auto;
  outline: none;
  width:350px ;
}

.navbar-search:focus {
  border-color: #ffc107; /* Highlight the search input on focus */
}

.navbar-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.LogoImg {
  width: 25px;
  height: 25px;
}
.navbar-username {
  font-size: 16px;
}

.navbar-user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ffc107; /* Optional: Add border around the image */
}
.navbar-search-container {
  display: flex;
  margin: 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-search-container input {
  margin: 0;
}
.button-search {
  background-image:url("/public/loop.svg") ;
}